body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    color: #404bbf;
}

.webstudio {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.accent {
    color: var(--IRIS, #2E2F42);
}

.accent-f {
    color: var(--IRIS, #F4F4FD);
}

.header-nav-list-item {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.header-address {
    font-style: normal;
}

.header-address-list-item-a {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.header-address-list-item-a:hover,
.header-address-list-item-a:focus {
    counter-reset: #404bbf;
}

.logo-h {
    color: var(--WHITE, #FFF);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
}

.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

.logo {
    background: var(--NAVY-BLUE, #2E2F42);
}

.main-list-logo {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.section-1-h2 {
    line-height: 1.2;
}

.main-list-p {
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.section-two {
    background-color: #F4F4FD
}

.logo-our-team {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.section-two-list-item {
    background-color: #FFFFFF;
}

.section-two-list-item-name {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.section-two-list-item-p {
    color: var(--SLATE, #434455);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.section-three-list-item-name {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.section-three-list-item-p {
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.footer {
    background: var(--NAVY-BLUE, #2E2F42);
    font-family: "Raleway", sans-serif;
}

.webstudio-f {
    color: var(--NAVY-BLUE, #4d5ae5);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footer-p {
    color: var(--CLOUD, #F4F4FD);
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}